/*
!.gitignore
!README.md
!composer.json
!deploy.php
!deploy.yml
!wp-cli.yml
!wp-content/
!.github/
!.githooks/


# Ignore everything in the "wp-content" directory, except the "plugins"
# and "themes" directories.
wp-content/*
!wp-content/plugins/
!wp-content/themes/
!wp-content/mu-plugins/


# wpengine specific
wp-content/mu-plugins/*

# Ignore everything in the "plugins" directory, except the plugins you
# specify (see the commented-out examples for hints on how to do this.)
wp-content/plugins/*
!wp-content/plugins/valerii-vasyliev-weather-widget/
wp-content/plugins/valerii-vasyliev-weather-widget/composer.lock
wp-content/plugins/valerii-vasyliev-weather-widget/vendor/*

# Ignore everything in the "themes" directory, except the themes you
# specify (see the commented-out example for a hint on how to do this.)
wp-content/themes/*